.header-block {
  width: 100%; /* Занимает всю ширину экрана */
  height: 137px; /* Высота блока */
  position: relative; /* Устанавливаем позицию для размещения текста */
  overflow: hidden; /* Скрыть лишнее содержимое */
  margin-top: 500px;
}

/* Стили для хедера на странице авторизации */
.login-header {
  margin-top: 600px; /* Увеличьте это значение, чтобы опустить хедер ниже только на странице авторизации */
}

.header-image {
  width: 100%; /* Занимает всю ширину блока */
  height: 100%; /* Занимает всю высоту блока */
  object-fit: cover; /* Сохранение пропорций изображения */
}

.header-text {
  position: absolute; /* Абсолютное позиционирование текста */
  bottom: 10px; /* Отступ от нижней части блока */
  right: 10px; /* Отступ от правой части блока */
  color: white; /* Цвет текста */
  font-family: 'Inter', sans-serif; /* Шрифт Inter */
  font-size: 14px; /* Размер шрифта */
  font-weight: 400; /* Жирность текста */
  line-height: 16.94px; /* Высота строки */
  letter-spacing: 0.01em; /* Межбуквенный интервал */
  text-align: right; /* Выравнивание текста по правому краю */
  text-underline-position: from-font; /* Позиция подчеркивания */
  text-decoration-skip-ink: none; /* Пропуск чернил для подчеркивания */
}
.query-header {
  position: absolute; /* Устанавливаем позицию для размещения */
  top: 985px; /* Положение сверху */
  left: 0; /* Положение слева */
  width: 100%; /* Занимает всю ширину */
  height: 137px; /* Высота блока */
}
@media (max-width: 768px) {
  .header-block {
    height: auto; /* Высота блока автоматически для мобильных */
    padding: 10px; /* Добавляем отступы */
  }

  .login-header {
    margin-top: 300px; /* Меньший отступ для мобильных */
  }

  .header-text {
    font-size: 12px; /* Уменьшаем размер шрифта для мобильных */
    line-height: 14px; /* Уменьшаем высоту строки для мобильных */
    bottom: 5px; /* Уменьшаем отступ от нижней части блока */
    right: 5px; /* Уменьшаем отступ от правой части блока */
  }

  .query-header {
    top: 600px; /* Устанавливаем новое значение для мобильных */
  }
}
