.image-block {
  width: 1307px; /* Ширина блока */
  height: 575px; /* Высота блока */
  margin: 20px auto; /* Центрирование блока */
  overflow: hidden; /* Скрыть лишнее содержимое */
}

.block-image {
  width: 100%; /* Занимает всю ширину блока */
  height: 100%; /* Занимает всю высоту блока */
  object-fit: cover; /* Сохранение пропорций изображения */
}
@media (max-width: 768px) {
  .image-block {
    width: 100%; /* Ширина блока на мобильных устройствах */
    height: auto; /* Высота блока автоматически */
    margin: 10px 0; /* Уменьшаем отступы */
  }

  .block-image {
    height: auto; /* Высота изображения автоматически для мобильных */
  }
}
